@import "~slim-select/dist/slimselect.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ss-main .ss-values .ss-value {
  .ss-value-text {
    @apply text-base;
  }
  .ss-value-delete {
    @apply h-4 w-4;
    svg {
      @apply h-3 w-3 m-auto;
    }
  }
}

.loader-spinner {
  border: 4px solid #000;
  border-radius: 50%;
  border-top-color: transparent;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
